* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover;
}
.link {
  display: inline-block;
  background-color: transparent;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
}
.linkss{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.linkss a:nth-child(2) {
  display: grid;
  place-items: center;
  background-color: transparent;
  color: white;
  font-size: 24px;
  width: 44px;
  height: 44px;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
}

.linkss a:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
